.container {
    font-family: Impact;
    font-size: 1.8em;
    letter-spacing: 0.1em;
  }
  #image-container {
    display: flex;
    text-align: center;
    background: #eee;
    width: 785px;
    border: 4px solid #000;
  }
  .inputs {
   padding: 30px; 
    background: black;
  }
  
  input[type=text] {
    border: none;
    border-bottom: #fff solid 3px;
    background: none;
    color: #fff;
    font-family: Impact;
    font-size: 1.5em;
    letter-spacing:0.1em;
    text-align: center;
  }
  button {
    border: 4px solid #fff;
    background: none;
    color: #fff ;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-top: 30px;
    font-family: Impact;
    font-size: 2.5em;
  }
  button:hover {
    color: red;
    border: 2px solid red;
  }
  input[type=text]:focus {
    outline: 0;
  }
  input[type=file] {
    font-family: Impact;
    letter-spacing:0.1em;
  }